<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete a post</title>
    <script src="../static/asserts/js/bootstrap.js"></script>
    <link href="src/main/resources/static/asserts/css/delete.css" th:type="css">
    <link rel="stylesheet" href="../static/asserts/css/bootstrap.css">
</head>
<body>
    <div>
        <form th:action="@{/delete}" method="post">
        <label>Type your target post Id</label>
            <input type="text" placeholder="UserId" name="userId" >
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Delete</button>
        </form>

    </div>
</body>
</html>