<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Message</title>
</head>
<body>
<div id="Layer1">
    <center>
        <form action="" >
            <table align="center">
                <tr>
                    <td style=" font-weight:bold; width:10%" >Title：</td>
                    <td width="90%" ><input id="title1" name="title" /></td>
                </tr>

                <tr>
                    <td style="font-weight:bold; width:10%" > Content：</td>
                    <td >  <textarea id="textarea" cols="60" rows="10"  name="content"></textarea> </td>
                </tr>

                <tr >
                    <td colspan="2">
                        <p>&nbsp;</p>
                        <center>
                            <input type="submit" name="submit"id="submit" value="留言" />
                        </center>
                    </td>
                </tr>
            </table>
        </form>
        <a href="view_message.jsp"><button class="bt"> 查看留言</button></a>
    </center>
</div>

</body>
</html>