<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
</head>
<body>
<form action="" th:action="@{/back}" method="GET">
    <input type="submit" name="back" value="Back"/>
</form>
<div id="content" style="text-align: center">
    <table width="60%" id="table1" th:each="post : ${posts}">
        <tr>
            <td>User</td>
            <td id="user" th:text="${post.getUserId()}"></td>
        </tr>
        <tr>
            <td>Title</td>
            <td id="title" th:text="${post.getTitle()}"></td>
        </tr>
        <!--<tr id="userId" >
            <td>UserId</td>
            <td id="title" th:text="${post.getUserId()}"></td>
        </tr><tr id="userId" >
            <td>PostId</td>
            <td id="title" th:text="${post.getPostId()}"></td>
        </tr>-->
        <tr>
            <td>Content</td>
            <td id="text" style="width:21%; font-weight:normal;" th:text="${post.getContent()}"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td id="date" th:text="${post.getPostDate()}"></td>
        </tr>
        <tr>
            <td>Attachment</td>
            <!--<td id="attachment" th:text="${post.getAttachment().getFileName()}"></td>-->
            <!--<td><a th:href="@{'/file?name=' + ${post.getAttachment().getFileName()}}" th:text="${post.getAttachment().getFileName()}"></a></td>-->
            <td><a th:href="@{/file/{postId} (postId = ${post.getPostId()})}" th:text="${post.getAttachment().getFileName()}"></a></td>
        </tr>
        <tr>
            <td>Edition</td>
            <!-------------------add condition to display the message------------------->
            <td id="edited" th:if="${post.getAttachment().isEdited() == true} " th:text = "Edited"></td>
        </tr>
        <br/><br/>
    </table>
</div>
<br/><br/>
<div style="margin: 100px;">
    <!--<a href="postMessage.html"><button class="bt"> Back </button></a>-->
    <fieldset>
        <form action="" style="margin: 5px" th:action="@{/search}" method="GET">
            <input style="margin: 5px" type="text" name="tag" placeholder="Enter Tag"/><br>
            <input style="margin: 5px" type="text" name="userId" placeholder="Enter UserId"/><br>
            From<input style="margin: 5px" type="text" name="from" placeholder="yyyy/mm/dd hh:mm:ss"/>
            to<input style="margin: 5px" type="text" name="to" placeholder="yyyy/mm/dd hh:mm:ss"/><br>
            <p th:text="${errorMsg}" style="color:red"></p>
            <input style="margin: 5px" type="submit" name="back" value="Search"/>
        </form>
    </fieldset>
    <!--<a href=""><button class="bt"> Search </button></a>-->
</div>

</body>
</html>